.chart-tooltip {
    background-color: rgba(0, 0, 0, .1);

    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
}

.last-info {
    margin-top: 30px;
}

.last-info span.ant-descriptions-item-label.ant-descriptions-item-colon {
    font-weight: 700;
}

.last-info .ant-descriptions-title {
    font-size: 2rem;
}

.last-info .ant-descriptions-item span {
    font-size: 1.3rem;
}
